@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 text-gray-900 font-sans;
  }
}

.ticket-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 2px;
}
